Repository felixshiftellecon/dynamic-config-demos: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-path-a, run-path-b

enable setup workflows
  README.md
Due: none

path a test
  path_a/README.md
Due: run-path-a

path b test
  path_a/README.md
  path_b/README.md
Due: run-path-a, run-path-b

test with both changes
  path_a/README.md
Due: run-path-a

only change ./readme
  README.md
Due: none

add pipeline.git.base_revision
  .circleci/config.yml
Due: none

path b test
  path_b/README.md
Due: run-path-b

add base-revision notes
  .circleci/config.yml
Due: none

generate config via unmarshall
  .circleci/config.yml
  README.md
  config_generators/config_via_struct_try_1
  config_generators/config_via_struct_try_2.go
  config_generators/config_via_unmarshall.go
  generated-config.yaml
  go.mod
  go.sum
Due: none

fix configuration path
  .circleci/config.yml
Due: none

change yaml to yml
  Previously_generated_config.yml
Due: none

actually remove a from yaml
  config_generators/config_via_unmarshall.go
Due: none

change name of example config
  example_generated_config.yml
Due: none

add python example
  .circleci/config.yml
  config_generators/config_via_struct_try_1
  config_generators/config_via_struct_try_2.go
  config_generators/config_via_unmarshall.go
  config_generators/generate-config.py
  go.mod
  go.sum
Due: none

change - to _
  .circleci/config.yml
Due: none

update workspace dir, add example generated config
  .circleci/config.yml
  example_generated_config.yml
Due: none

demo
  path_a/README.md
Due: run-path-a

add exectuor
  .circleci/config.yml
Due: none

try tag param
  .circleci/config.yml
Due: none

add params
  .circleci/config.yml
Due: none

add .python-version
  .circleci/config.yml
  .python-version
Due: none

Update README.md
  path_b/README.md
Due: run-path-b

Update README.md
  path_a/README.md
Due: run-path-a

blah
  path_a/README.md
  path_b/README.md
Due: run-path-a, run-path-b

add custom param
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

fix setup executor
  .circleci/config.yml
Due: none

add base-revision: << pipeline.git.base_revision >>
  .circleci/config.yml
Due: none

changing files
  path_a/README.md
  path_b/README.md
Due: run-path-a, run-path-b

attempt 2
  path_b/README.md
Due: run-path-b

attempt3
  path_b/README.md
Due: run-path-b

attempt4
  path_a/README.md
  path_b/README.md
Due: run-path-a, run-path-b

add checkout
  .circleci/config.yml
Due: none

attempt boolean change
  .circleci/config.yml
Due: none

add workflow
  .circleci/continue-config.yml
Due: none

remove intermediate file
  .circleci/config.yml
Due: none

add node module
  .circleci/config.yml
  .circleci/generated/generated.index.js
  .circleci/generated/package-lock.json
  .circleci/generated/package.json
Due: none

add node orb
  .circleci/config.yml
Due: none

Path conditions:
  run-path-a: any of: path_a/.*
  run-path-b: any of: path_b/.*
